footer ul li a, address a, #copyright a {
  text-decoration: none; }
  footer ul li a:hover, address a:hover, #copyright a:hover {
    border-bottom: 1px dashed #83c2b8;
    color: #83c2b8; }

#main-nav, footer ul {
  list-style-type: none;
  font-family: 'Raleway', sans-serif;
  padding-left: 0; }
  #main-nav li, footer ul li {
    text-transform: uppercase;
    text-align: center; }
    #main-nav li a, footer ul li a {
      display: block;
      line-height: 1.5;
      text-decoration: none;
      color: #83c2b8; }
      #main-nav li a:hover, footer ul li a:hover {
        color: #F36156; }

h1, h2, h3, h4 {
  margin: 1.314em 0 .5em;
  line-height: 1.45; }

h1 {
  text-align: center;
  font-family: 'Comfortaa', cursive;
  font-size: 2em;
  padding: 1%; }

h2 {
  text-align: center;
  font-family: 'Comfortaa', cursive;
  font-size: 1.569em; }
  h2.icon-box-labels {
    margin-top: .5em; }

h3 {
  font-size: 1.377em; }

h4 {
  font-size: 1.233em; }

small {
  font-size: .75em;
  font-family: 'Comfortaa', cursive; }

p, address p {
  font-family: 'Raleway', sans-serif;
  line-height: 1.5; }
  p.footer-heading {
    font-family: 'Comfortaa', cursive;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 1.1em;
    color: #83c2b8; }

* {
  margin: 0;
  font-size: 100%;
  box-sizing: border-box; }
  @media screen and (min-width: 56.25em) {
    *:not(:i.fa) {
      font-size: 110%; } }

@media screen and (min-width: 40em) {
  html {
    background: url("../images/shoes-med.jpg") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover; } }

header {
  position: relative;
  padding: 1%;
  width: 100%;
  background: rgba(10, 10, 10, 0.8); }
  @media screen and (min-width: 40em) {
    header {
      height: 100px;
      padding-bottom: 0; } }
  @media screen and (min-width: 56.25em) {
    header > a {
      float: left; } }
  header > .social {
    display: none; }
    @media screen and (min-width: 40em) {
      header > .social {
        display: inline;
        position: absolute;
        top: 10px;
        right: 3%; } }
    header > .social a {
      color: #fff; }
      header > .social a:hover {
        color: #83c2b8; }

#logo {
  width: 200px;
  display: block;
  margin: 0 auto;
  z-index: 1; }
  @media screen and (min-width: 40em) {
    #logo {
      margin: 0 0 0 3%; } }
  @media screen and (min-width: 56.25em) {
    #logo {
      margin: auto 0 auto 5%;
      height: 80px;
      width: auto;
      display: flex; } }

nav {
  font-size: 1.2em; }
  @media screen and (min-width: 40em) {
    nav {
      display: block; } }
  @media screen and (min-width: 56.25em) {
    nav {
      position: absolute;
      width: 50%;
      bottom: 0;
      right: 0; } }
  nav a {
    display: block; }

#mobile-menu button {
  background: none;
  border: none;
  position: absolute;
  top: 10px;
  left: 2%;
  z-index: 2; }
  @media screen and (min-width: 40em) {
    #mobile-menu button {
      display: none; } }
  #mobile-menu button img {
    width: 35px;
    height: 35px; }

#main-nav {
  display: none;
  width: 100%; }
  @media screen and (min-width: 40em) {
    #main-nav {
      display: flex; } }
  @media screen and (min-width: 40em) {
    #main-nav > li {
      text-align: center;
      font-size: 1em;
      display: block;
      padding: 1.5%;
      width: 20%; } }
  @media screen and (min-width: 56.25em) {
    #main-nav > li {
      float: left;
      margin-bottom: 0; }
      #main-nav > li:nth-child(1), #main-nav > li:nth-child(3), #main-nav > li:nth-child(5) {
        width: 16%; }
      #main-nav > li:nth-child(2), #main-nav > li:nth-child(6) {
        width: 25%; } }

#sub-menu {
  margin-bottom: 1px;
  display: none;
  width: 100%; }
  @media screen and (min-width: 40em) {
    #sub-menu {
      background-color: #222;
      position: absolute;
      top: 100px;
      left: 0; } }
  @media screen and (min-width: 56.25em) {
    #sub-menu {
      width: 40%;
      max-width: 200px;
      top: 2em;
      left: 20%;
      margin-top: 2px;
      padding: 10px 0 3% 10px; } }
  #sub-menu > li {
    margin: 0;
    font-size: 0.8em;
    text-transform: capitalize;
    text-align: center; }
    @media screen and (min-width: 40em) {
      #sub-menu > li {
        width: auto;
        float: left;
        margin-left: 2%; } }
    @media screen and (min-width: 56.25em) {
      #sub-menu > li {
        float: none;
        text-align: left;
        margin-left: 5%;
        line-height: 2.5em; } }
    #sub-menu > li:hover {
      color: #F36156;
      background-color: #222; }
      @media screen and (min-width: 40em) {
        #sub-menu > li:hover {
          background-color: none; } }

section {
  padding: 2%;
  background-color: #fff;
  overflow: hidden; }

main > section {
  width: 100%;
  margin-bottom: 10px; }
  main > section > p {
    max-width: 550px;
    margin: 0 auto 1.5em; }
  main > section:first-of-type {
    margin-top: 10px; }
  main > section:last-of-type {
    margin-bottom: 0; }
  @media screen and (min-width: 40em) {
    main > section {
      width: 95%;
      margin: auto; } }

.container {
  margin-bottom: 20px; }
  @media screen and (min-width: 65em) {
    .container > section {
      float: left;
      width: 33%; } }
  .container > section .icon-box {
    width: 150px;
    height: 150px;
    margin: 0 auto;
    border: 1px solid #83c2b8;
    border-radius: 50%;
    text-align: center; }
    @media screen and (min-width: 40em) {
      .container > section .icon-box {
        margin-right: 5%;
        float: left; } }
    @media screen and (min-width: 65em) {
      .container > section .icon-box {
        margin-right: auto;
        float: none; } }
  @media screen and (min-width: 40em) {
    .container > section .content {
      float: left;
      width: 60%; } }
  @media screen and (min-width: 50em) {
    .container > section .content {
      float: left;
      width: 70%; } }
  @media screen and (min-width: 65em) {
    .container > section .content {
      display: block;
      width: auto; } }
  .container i.fa {
    color: #83c2b8;
    font-size: 6em;
    margin-top: 25px; }

.button {
  width: 50%;
  max-width: 200px;
  margin: 10px auto 20px;
  padding: 2%;
  display: block;
  color: #fff;
  background-color: #83c2b8;
  font-family: 'Comfortaa', cursive;
  font-weight: bold;
  font-size: 1.1em;
  line-height: 1.1em;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none; }
  @media screen and (min-width: 40em) {
    .button {
      margin-top: 20px; } }
  @media screen and (min-width: 56.25em) {
    .button {
      width: 75%;
      padding: 3% 2%; } }
  .button:hover {
    background-color: #83d1c7;
    box-shadow: 5px 5px 5px #ccc;
    position: relative;
    top: 2px;
    left: 2px; }

footer {
  margin-top: 10px;
  overflow: hidden;
  padding: 2%;
  background-color: rgba(10, 10, 10, 0.8);
  color: #fff;
  width: 100%;
  text-align: center; }
  @media screen and (min-width: 40em) {
    footer {
      padding: 3%; } }
  @media screen and (min-width: 56.25em) {
    footer {
      padding: 3% 10%; } }
  @media screen and (min-width: 68.75em) {
    footer {
      padding: 3% 15%; } }
  @media screen and (min-width: 81.25em) {
    footer {
      padding: 3% 18%; } }
  @media screen and (min-width: 40em) {
    footer > div.footer {
      float: left;
      width: 33%; } }
  footer div {
    margin-bottom: 20px; }
    footer div:last-of-type {
      margin-bottom: 0; }
  footer ul li {
    text-transform: capitalize; }
    footer ul li a {
      color: #fff;
      max-width: 75px;
      display: block;
      margin: auto; }
      footer ul li a:hover {
        font-weight: 800;
        color: #83d1c7; }
  footer a i.fa {
    color: #fff; }
    footer a i.fa:hover {
      color: #83c2b8; }
    @media screen and (min-width: 40em) {
      footer a i.fa {
        font-size: 2em; } }
    @media screen and (min-width: 52.5em) {
      footer a i.fa {
        font-size: 3em; } }

address p {
  font-style: normal;
  margin: 0; }
address a {
  color: #fff; }
  address a:hover {
    color: #83c2b8; }

.email label {
  display: none; }
.email input[type=email] {
  padding: 1%; }

input[type=submit] {
  margin-left: 0.5%;
  padding: 1%;
  color: #fff;
  background-color: #83c2b8;
  font-family: 'Comfortaa', cursive;
  font-weight: bold;
  font-size: 1.1em;
  line-height: 1.1em;
  text-transform: uppercase; }
  @media screen and (min-width: 40em) {
    input[type=submit].footer-button {
      margin-top: 10px; } }
  @media screen and (min-width: 68.75em) {
    input[type=submit].footer-button {
      margin-top: 0; } }

#copyright {
  width: 100%;
  clear: both;
  margin-top: 10px;
  text-align: center; }
  #copyright a {
    color: #fff; }

/*# sourceMappingURL=main.css.map */
