* {
    margin: 0;
    padding: 0;
    font-family: 'Raleway', sans-serif;
    font-size: 100%;
}

html {
    background: url(../images/shoes-med.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

header {
    width: 100vw;
    overflow: hidden;
    height: 80px;
    line-height: 80px;
    position: fixed;
    top: 0;
    left: 0;
    background: rgba(10, 10, 10, .8);
    /* LIGHT GREEN
  background: rgba(131,194,184,.9);
  */
    color: #fff;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-around;
}

#logo {
    padding-left: 3%;
    flex-basis: 1;
}

nav {
    box-sizing: border-box;
    width: 30%;
    font-family: 'Raleway', sans-serif;
    font-size: 1.3;
    text-transform: uppercase;
    margin-right: 10%;
}

nav ul {
    list-style-type: none;
    display: inline;
}

nav li {
    box-sizing: border-box;
    text-align: center;
    width: 19%;
    float: left;
}

nav a {
    padding: 0 1%;
    display: block;
    text-decoration: none;
    /* LIGHT GREEN */
    color: rgb(131, 194, 184);
}

nav li:nth-child(5) {
    width: 23%;
}

.nav ul>li>a:active, .nav ul>li>a:hover {
    font-weight: bold;
    background-color: #F36156;
}

header > .social {
    width: 20%;
    margin-right: 2%;
    }

.social ul {
    list-style-type: none;
    display: inline;
}

header > .social li {
    float: right;
    padding: 0 2%;

}

.social li a {
    text-decoration: none;
}

.social i:active, .social i:hover {
    color: rgb(131, 194, 184);
}

header i.fa {
    line-height: 80px;
}

i.fa {
    display: inline;
    color: #fff;
}



/* ++++++++++++++ END HEADER STYLES ++++++++++++++++ */

#intro {
    height: 100vh;
    width: auto;
    text-align: center;
}

.banner {
    margin: 15% auto;
    width: 40%;
    padding: 6%;
    background: rgba(10, 10, 10, .8);
}

.container {
    background-color: #fff;
    width: 100%;
    padding: 10% 0;
    overflow: hidden;
}

.special {
    width: auto;
    background-color: #fff;
    padding: 10%;
    margin-bottom: 15%;
    overflow: hidden;
}

.special>h2 {
    text-align: center;
}

.special>p {
    width: 70%;
    display: block;
    margin: 2% auto;
}

.special>ul {
    width: 70%;
    margin: 2% auto;
    display: block;
}

.button {
    margin: 20px auto 0;
    padding: 2% 1.5%;
    display: block;
    /* LIGHT GREEN */
    background-color: rgb(131, 194, 184);
    font-size: 1.3em;
    line-height: 1.3em;
    text-align: center;
    text-transform: uppercase;
    text-decoration: none;
    color: #fff;
    font-weight: bold;
    font-family: 'Comfortaa', cursive;
}

a#standard-size {
    max-width: 200px;
}

.button:hover {
    background-color: rgb(131, 209, 199);
    box-shadow: 5px 5px 5px #ccc;
    position: relative;
    top: -2px;
    left: -2px;
}

ul.list {
    margin-left: 5%;
    font-size: 1em;
}

.list li {
    margin: 1%;
}

section {
    width: 28%;
    float: left;
    display: inline;
    padding: 2%;
}


/* ++++++++++ ABOUT ++++++++++ */

img.portrait-left {
    float: left;
    width: 20%;
    margin: 0 2% 0 20%;
    display: block;
}

#text {
    width: 40%;
    float: left;
}

#about {
    margin-top: 80px;
}


/* ++++++++++ TRAIN ++++++++++ */

img.train-map {
    display: block;
    margin: 20px auto;
}


/* ++++++++++ CONTACT ++++++++++ */

.contact-form {
    margin-left: 15%;
}

.contact-form input {
    margin: 0 1% 0 1%;
}

h2.contact-form {
    margin-bottom: 30px;
}

textarea {
    width: 80%;
    height: 150px;
}

aside {
    width: 25%;
    float: left;
}

aside>h3 {
    margin-top: 0;
}

aside>p {
    font-size: .9em;
}

iframe {
    margin-top: 30px;
}

img.mail {
    width: 20%;
    display: block;
    margin: 10px auto;
}


/* ++++++++++ START FOOTER STYLES ++++++++++ */

footer {
    background: rgba(10, 10, 10, .8);
    color: #fff;
    padding: 2% 4.5%;
    overflow: hidden;
    width: 100vw;
    box-sizing: border-box;
}

footer ul {
    list-style-type: none;
    font-size: 1.1em;
}

footer a {
    text-decoration: none;
    color: #fff;
}

footer p {
    line-height: 1;
}


#footerLeft {
    float: left;
    width: 25%;
    padding-left: 5%;
    text-align: right;
    text-decoration: none;
}

#footerMid {
    width: 25%;
    float: left;
    margin: 0 2%;
}

footer .email {
    margin-top: 1%;
}

footer .email label {
    display: none;
}

footer input[type=email] {
    padding: 1%;
}

input[type=submit] {
    padding: 1% 1%;
    /* LIGHT GREEN */
    background-color: rgb(131, 194, 184);
    font-size: 1.1em;
    line-height: 1.1em;
    text-transform: uppercase;
    color: #fff;
    font-weight: bold;
    font-family: 'Comfortaa', cursive;
    margin-top: 5px;
}

#footerRight {
    width: 25%;
    padding-right: 5%;
    float: left;
}


/* ++++++++++ TYPOGRAPHY ++++++++++ */

h1 {
    font-family: 'Comfortaa', cursive;
    font-size: 2em;
}

h2 {
    font-family: 'Comfortaa', cursive;
    font-size: 2.469em;
}

.banner h2 {
    font-size: 3em;
    color: #fff;
}

h3 {
    font-family: 'Comfortaa', cursive;
    font-size: 1.777em;
    margin-top: .9em;
}

h4 {
    text-transform: capitalize;
    font-size: 1.333em;
    margin-bottom: 1.5;
    margin-top: .8em;
}

p {
    margin-top: 1%;
    font-family: 'Raleway', sans-serif;
    line-height: 1.5;
}

p.cursive {
    font-family: 'Pacifico', cursive;
    font-size: 1.5em;
    text-align: center;
    color: rgb(131, 194, 184);
}

.promo {
    font-size: 1.75em;
    text-align: center;
    text-transform: uppercase;
}

footer p {
    font-size: 1.1em;
}


/* ORANGE
color: #F36156;
*/
